
/* typography 
html {
  font-size: 1rem;
}
@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}
@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}
@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}
*/

body {
  font-family: Helvetica, Arial, sans-serif;
}
/* panel */
.panel>* {
  float: left;
}
.panel>input {
  clear: both;
}
.list-group.active{
  display: block;
}
.list-group{
  display: none;
}
/*  select markers */
.list-group-item.active {
  /*z-index: 2;*/
  color: #FFFFFF;
  background-color: #4B7872;
  border-color: #FFFFFF;
  width: 150px;
  text-align: center;
  border: solid 1px #757575;
  margin-bottom: 2px;
}
.list-group-item {
  color: #000000;
  width: 150px;
  text-align: center;
  border: solid 1px #757575;
  margin-bottom: 2px;
}
.list-group-item:hover {
  background-color: #DEDEDE;
}
/* table */
  td {
    padding: 1.2rem 2rem;
    text-align: center;
    border-bottom: 1px solid #3d3d3d;
    color: #3d3d3d;
    font-size: 11px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  /* table - user styles */
  .td_head {
    font-size: 13px;
    text-align: center;
    font-weight: bold;
    border: solid 1px #FFFFFF;
    background-color: #699692; /*#3d3d3d*/
    color: #FFFFFF;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  /* table content */
  #nav-tabContent {
    height: 520px;
    width: 720px;
    overflow-y: scroll;
    /*overflow-x: scroll;*/
    /*position: static;*/
    margin-left: 190px;
    background-color: #D7E2E1;
    border: solid 1px gray;
  }
  .tab-content {
    margin-left: -15px;
  }
  /* list for genes */
  .list-group__container {
    height: 520px;
    /*overflow-y: auto;*/
    /*cursor: pointer;*/
    /*position: static;*/
    -moz-column-width: 80px;  
    -webkit-column-width: 80px;   
    column-width: 80px;
    -webkit-column-count:2;  
    -moz-column-count:2;  
    column-count:2; 
    z-index: 1;
  }
  /* 
  .list-group__container {
    -moz-column-width: 80px;  
    -webkit-column-width: 80px;   
    column-width: 80px;
  }
  */
/* select */
.select {
  cursor: pointer;
  height: 32px;
  width: 45px;
  background-color: #FFFFFF;
}
/* checkbox */
.checkbox2 {
  cursor: pointer;
}
/* input */
input[type="checkbox"] {
  position: relative;
  right: 1px;
  cursor: pointer;
  color: #4B7872;
}
/* buttons */
.nav-link {
    width: 200px;
    text-align: center;
    border: solid 1px #757575;
    padding-top: 0.75rem;
    padding-right: 1.25rem;
    padding-bottom: 0.75rem;
    padding-left: 1.25rem;
    color: #000000;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #FFFFFF;
}
.nav-link:hover {
  color: #3d3d3d;
  background-color: #DEDEDE;
  border: solid 1px #757575;
}
.nav-link.active {
  background-color: #4B7872!important;
  border: solid 1px #757575;
}
/* button disabled */
.nav-link-dis {
  width: 200px;
  text-align: center;
  border: solid 1px #757575;
  padding-top: 0.75rem;
  padding-right: 1.25rem;
  padding-bottom: 0.75rem;
  padding-left: 1.25rem;
  color: #000000;
  margin-left: 5px;
  margin-right: 5px;
  background-color: #FFFFFF;
}
/* buttons */
.someclass {
  background-color: #4B7872;
  color: #FFFFFF;
  width: 190px;
  margin: 5px 10px 5px 1px;
}
/* accordion */
.accordion {
    cursor: pointer;
    text-align: left;
    margin-top: 5px;
    font-size: 14.5px;
}
.btn-link {
    color: #4B7872;
}
/* modal */
.modal-content {
    width: 600px;
}
/* Style the input fields 
input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}
*/
/* Mark input boxes that gets an error on validation: 
input.invalid {
  background-color: #ffdddd;
}
*/
/* Hide all steps by default */
.tab {
  display: none;
}
/* Make circles that indicate the steps */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}
/* Mark the active step */
.step.active {
  opacity: 1;
}
/* Mark the steps that are finished and valid */
.step.finish {
  background-color: #4B7872;
}
/* sections 
.section {
  margin-left: 80px;
  margin-right: 80px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: solid 1px #CBD9D7;
  background-color: #ECEEEE;
}
*/
/* patient form */
.form-control {
  /*background-color: #CBD9D7;*/
  border-radius: 5px;
}
/* report button */
.btn-report {
  background-color: #4B7872;
  color: #FFFFFF;
  margin-left: 80%;
  font-size: 20px;
}
/* form fields */
legend {
  color: #FFFFFF;
  background-color: #4B7872;
  border: solid 1px #4B7872;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.container-date-patient {
  border: solid 1px #F5F5F5;
  padding: 40px 40px 40px 40px;
  background-color: #F5F5F5;
}
/* 
.list-group__container {
    height: 620px;
    overflow-y: auto;
    cursor: pointer;
    position: static;
}

/* */
.container-marker {
  margin-top: 10px;
 /*background-color: #F5F5F5;*/
 padding-top: 15px;
 padding-bottom: 25px;
}

/* change way */
.container-change {
  margin-left: 10%;
}
/**/
.container-main {
  background-color: #F5F5F5;
  padding-top: 10px;
}


/**
* for the small screens
*/
@media only screen and (min-width: 320px) and (max-width: 769px) {
 /* change way */
.container-change {
  margin-left: 0;
}

  }

